*{padding: 0;margin: 0;border: none;}

body {
	height: 100%;
	width: 100%;
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
}

:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
}

/* Стилизация хедера */

.preview{
	background-position: center;
	background-size: cover;
}

.preview--services {
	background: url('../img/headline.png') no-repeat;
	padding-bottom: 25px;
	margin-bottom: 100px;
}

.container {
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
}

.header {
	padding-top: 15px;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu__list {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #FFFFFF;
}

.menu__item {
	margin-right: 54px;
	transition: color .4s;
}
.menu__item:hover{
	color: #DA0100;
	transition: color .4s;

}

.menu__item:last-child {
	margin-right: 0;
}

.contacts {
	text-align: right;
	color: #FFFFFF;
}

.contacts__phone {
	font-size: 26px;
	color: #FFFFFF
	font-weight: 400;
	margin-bottom: 5px;
	display: block;
	transition: .4s;
}

.contacts__phone:hover {
	color:#DA0100;
	transition: .4s;
}

.contacts__graph {
	display: inline-block;
	position: relative;
	text-decoration-line: underline;
	font-size: 13px;
	transition: .4 all ease-in-out;
}

.contacts__graph:hover {
	color:#DA0100;
	transition: .4 all ease-in-out;
}

.contacts__graph:hover .schedule {
	display: inline-block;
	width: 156px;
	background-color: #EDEDED;
	padding: 20px 18px;
	border-radius: 6px;
	text-align: left;
	position: absolute;
	top: 100%;
	right: 0px;
	margin-top: 12px;
	opacity: 1;
	transition: .4 all ease-in-out;
	color: #1E1F20;
}

.contacts__graph .schedule:before {
	content: "";
	height: 18px;
	width: 100%;
	display: block;
	left: 0;
	background-color: transparent;
}

.contacts__graph .schedule:after, .contacts__graph .schedule:before {
	content: "";
	display: inline-block;
	position: absolute;
	bottom: 100%;
}

.contacts__graph .schedule:after {
	right: 10px;
	border: 12px solid transparent;
	border-bottom-color: #EDEDED;
}

.schedule {
	position: absolute;
	background: #fff;
	display: none;
	top: 100%;
	transition: .4s all ease-in-out;
	opacity: 0;
}

.schedule__text--bold {
	font-weight: bold;
}
.main__description {
	margin-top: 105px;
}

.title {
	font-size: 72px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

/* Стилизация хлебных крошек */

.breadcrumbs {
	margin-top: 35px;
}

.breadcrumbs__list {
	display: flex;
	align-items: center;
	color: #9A9A9A;
}

.breadcrumbs__item {
	margin-right: 4px;
}

.breadcrumbs__item:after {
	content: "/";
	text-decoration: none;
}

.breadcrumbs__item--activ .breadcrumbs__link {
	font-weight: 700;
}

.breadcrumbs__item:last-child {
	pointer-events: none;
	cursor: default;
}

.breadcrumbs__item:last-child:after {
	display: none;
	margin-right: 0;
}

.breadcrumbs__link {
	font-size: 14px;
	color: #9A9A9A
	font-weight: 400;
	text-decoration-line: underline;
	transition: color .4s;
}
.breadcrumbs__link:hover {
	color:#DA0100;
	transition: color .4s;
}

/* Стилизация комментариев */

.cards {
	margin-bottom: 100px;
}

.reviews {
	column-count: 2;
	column-gap: 30px;
	margin-bottom: 50px;
}

.reviews__item {
	margin-bottom: 20px;
}

.review {
	display: inline-flex;
	flex-direction: column;
	padding: 50px 30px;
	background: #F4F5F5;
	border-radius: 5px;
}

.review__header {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.review__photo {
	margin-right: 22px;
}

.review__user {
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	color: #2E77A4;
	margin-bottom: 11px;
}

.review__user:after {
	content: url(./../img/vk-blue.png);
	height: 30px;
	margin-left: 10px;
}

.avatar {
	width: 140px;
	height: 140px;
	overflow: hidden;
	border-radius: 50%;
}

.review__tags {
	display: flex;
	align-items: flex-start;
}

.tag {
	font-size: 13px;
	padding: 10px 18px;
	color: #303030;
	border-radius: 20px;
	background: #E7E7E7;
}

.tag--bg--green {
	background: #B9EAE4;
}

.review__title {
	font-size: 30px;
	color: #1A1B1E;
	font-weight: bold;
	margin-bottom: 25px;
}

.review__content-text {
	color: #818181;
	line-height: 2;
	margin-bottom: 50px;
}

.review__date {
	font-size: 14px;
	font-weight: 600;
	color: #1A1B1E;
}

/* Стилизация пагинатора */

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination__display {
	color: #fff;
	font-weight: 400;
	margin-right: 15px;
	color: #000;
}

.pagination__list {
	display: flex;
	align-items: center;
}

.pagination__item {
	margin-right: 10px;
}

.pagination__link {
	display: inline-block;
	color: #fff;
	font-weight: 700;
	border-radius: 50%;
	padding: 4px 11px;
	color: #000;
}

.pagination__item--active .pagination__link {
	background-color: red;
	color: #FFFFFF;
}
.pagination__item:last-child {
	margin-right: 0;
}

/* Стилизация разделителя */

.separator {
	background: url(./../img/couple.png) right 30% bottom no-repeat, url(./../img/rectangle.png) no-repeat center;
	height: 363px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: ;
}

.separator__content {
	max-width: 50%;
}

.separator__title {
	font-weight: bold;
	font-size: 48px;
	color: #FFFFFF;
}

/* Стилизация отправки формы */

.inner-section {
	padding-bottom: 100px;
}

.inner-section--bg--grey {
	background: #F4F5F5;
}

.inner-section__title {
	font-weight: bold;
	font-size: 48px;
	color: #1A1B1E;
	margin-bottom: 60px;
	padding-top: 60px;
}


.form__row {
	display: flex;
	margin-bottom: 30px;
}

.form__input {
	flex: 1;
	margin-right: 30px;
	border: none;
	border-radius: 5px;
	background: #FFFFFF;
	padding: 20px 30px;
	font-size: 18px;
	color: #1A1B1E
}

.form__input:focus {

	border-radius: 5px;
	outline: 1px solid #F5170E;
}

.form__input::placeholder {
	color: #666;
}

.form__input:last-child {
	margin-right: 0px;
}

.form__input--textarea {
	height: 235px;
}

.form__controls {
	display: flex;
	margin-bottom: 35px;
}

.control__elem {
	cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
	background: #B9EAE4;
}

.controls__checkbox {
	display: none;
}

.form__controls-title {
	width: 40%;

}

.controls {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

.controls__item {
	margin-right: 10px;
	margin-bottom: 10px;
}

.btn {
	font-weight: bold;
	font-size: 14px;
	padding: 18px 45px;
	border-radius: 35px;
	color: #fff;
}

.btn--color--black {
	background: #8E8E8E;
	transition: all .4s;
}

.btn--color--black:hover {
	background: #2B2B2B;
	transition: all .4s;
}

.btn--color--red {
	background: #F5170E;
}

.form__btns {
	display: flex;
	justify-content: flex-end;
}

.form__btn {
	margin-right: 20px;
}

.form__btn:last-child {
	margin-right: 0px;
}

/* Стилизация футера */

.footer {
	padding-bottom: 30px;
	background-color: #001821;
}
.footer .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;
	border-top: 1px solid #353637;
	color: #00000;
}

.contacts__text{
	font-size: 11px;
	color: #9A9A9A;
}

.socials__item{
	margin-right: 10px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

.socials__icon{
	position: relative;
}

.socials__icon:hover:before {
	opacity: 1;
}

.socials__icon:hover:after {
	opacity: 0;
}

.socials__icon:after {
	content: "";
	display: block;
	position: absolute;
	width: 36px;
	height: 36px;
}

.socials__icon:before {
	content: "";
	display: block;
	position: absolute;
	width: 36px;
	height: 36px;

}

.socials__icon--telegram:after {
	background: url(./../img/sprites.png)-234px -10px;
	transition: all .4s;
}

.socials__icon--telegram:before {
	background: url(./../img/sprites.png)-290px -10px;
}

.socials__icon--vk:after {
	background: url(./../img/sprites.png)-346px -10px;
	transition: all .4s;
}

.socials__icon--vk:before {
	background: url(./../img/sprites.png)-402px -10px;
	transition: all .4s;
}


.socials__icon--facebook:after {
	background: url(./../img/sprites.png)-10px -10px;
	transition: all .4s;
}

.socials__icon--facebook:before {
	background: url(./../img/sprites.png)-66px -10px;
	transition: all .4s;
}


.socials__icon--inst:after {
	background: url(./../img/sprites.png)-122px -10px;
	transition: all .4s;
}

.socials__icon--inst:before {
	background: url(./../img/sprites.png)-178px -10px;
	transition: all .4s;

}

.socials__item:last-child{
	margin-right: 0;
}
.socials__list {
	display: flex;
	align-items: center;
}
